.update{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    /* height: calc(50vh - 120px); */
    /* margin-top: 3rem; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 2%;
    line-height: 1.5;
    color: #fff;
    border-radius: 5%;
    /* padding-top: 6rem; */
    margin-bottom: 2rem;
}

.update h2{
    margin-bottom: 1.5rem;
    color: #6C63AC;
    text-decoration: wavy;
}

.insideCard{
    width: 45%;
    display: flex;
    flex-direction: column;
}


.rupeeHolder{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5rem;
}

.info{
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    color: #777;
    width: 86%;
    /* height: 10rem; */
    margin: 0 auto;
    margin-bottom: 4rem;
}

.info h3{
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.info p{
    line-height: 1.5rem;
}

@media (max-width: 600px) {

    .update{
        flex-direction: column;
        padding: 4%;
    }
   
    .insideCard{
        width: 100%;
    }

    .insideCard:nth-child(1){
        margin-bottom: 2rem;
    }

}

.dd-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }
  
  .dd-button:hover {
    background-color: #eeeeee;
  }
  
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }
  
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }
  
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }