.home{
    width: 100%;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
	padding-top: 100px;
}

.inside{
    width: 50%;
    z-index: 50;
	flex-direction: column;
    /* text-align: center; */
	font-size: clamp(0.875rem, 0.787rem + 0.376vw, 1.125rem);
    line-height: 140%;
    color: rgb(148, 154, 173);
    letter-spacing: 0.02em;
    font-weight: 500;
    display: flex;
	box-sizing: border-box;
	padding: 2%;
	/* border-radius: 20px; */
}

.home img{
	width: 333px;
}



.inside button{
	display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: uppercase;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(148, 243, 244);
    color: rgb(42, 42, 50);
    border-radius: 30px;
    height: 38px;
    width: 143px;
	margin-top: 1rem;
}


@media (max-width: 600px) {
	.inside{
		width: 90%;
		padding: 5%;
		/* align-items: center; */
	}
	.home{
		margin-bottom: -2rem;
		flex-direction: column-reverse;
		height: auto;
		margin-bottom: 7rem;
	}
	.home img{
		width: 223px;
	}	
  }

.inside button{
    width: 90px;
}



.paidevent{
	width: 70%;
	margin: 2rem auto;
	/* height: 400px; */
	display: flex;
	color: #777;
	flex-direction: row;
	justify-content: space-between;
}

.paidevent h3{
	margin: 15px 0;
}

.eventCard{
	width: 48%;
	height: 100%;
	padding: 1.2rem;
	border-radius: 1.2rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.eventCard img{
	width: 100%;
}

.simpleHeading {
	/* font-size: clamp(2.25rem, 1.942rem + 1.315vw, 3.125rem); */
	font-size: 24px;
	font-weight: 200;
	margin-bottom: clamp(0.625rem, 0.493rem + 0.563vw, 1rem);
	letter-spacing: 0.02em;
	line-height: 110%;
	/* margin-top: 6px;
	margin-bottom: 10px; */
	color: #fff;
  }
  