.nav{
    position:fixed;
    display: flex;
    padding: 0 5%;
    align-items: center;
    background-color:  rgba(227, 228, 233, 0.16);
    /* color: black; */
    font-family: ProximaNova-Regular;
    color: white;
    backdrop-filter: blur(10px);
    text-transform: uppercase;
    justify-content: space-between;
    font-size: 32px;
    width: 100%;
    height: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    z-index: 100;
}

.nav p{
    font-weight: 400;
    color: rgb(148, 243, 244);
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .nav p{
        font-size: 2rem;
        line-height: 140%;
        width: 60%;
    }
}

.nav h2{
    padding: 0;
    margin: 0;
    font-weight: 400;
    cursor: pointer;
    font-size: 2.3rem;
}