.nav{
    display: flex;
    padding: 0 5%;
    align-items: center;
    color: black;
    font-size: 32px;
    width: 100%;
    height: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    justify-content: flex-end;
}

.nav h2{
    padding: 0;
    margin: 0;
    font-weight: 400;
    cursor: pointer;
}