@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&family=Edu+VIC+WA+NT+Beginner:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fasthand&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background: linear-gradient(90deg, #C7C5F4, #776BCC); */
  /* overflow-x: hidden; */
  background-color: rgb(5, 17, 46);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

body > div {
  overflow-x: hidden;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
 */

@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
}

.loginHolder {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  z-index: 101;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.screen {
  background: linear-gradient(90deg, #5d54a4, #7c78b8);
  position: relative;
  height: 515px;
  width: 360px;
  box-shadow: 0px 0px 24px #5c5696;
}



.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #fff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #6c63ac;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #5d54a4, #6a679e);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #7e7bb9;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.login {
  width: 320px;
  padding: 30px;
  padding-top: 66px;
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 30px;
  color: #7875b5;
}

.login__input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #6a679e;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #4c489d;
  box-shadow: 0px 2px 2px #5c5696;
  cursor: pointer;
  transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #6a679e;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #7875b5;
}

.switch {
  font-family: Raleway, sans-serif;
  margin-top: 20px;
  padding-left: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #777;
}

.cancel {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}
section {
	padding-bottom: 30px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-area {
  border-bottom: 1px solid #353c46;
}

.contact-content p {
  margin: 30px 0 60px;
  position: relative;
}

.contact-content p::after {
  background: #353c46;
  bottom: -30px;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 80%;
}

.contact-content h6 {
  color: #8b9199;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact-content span {
  color: #353c47;
  margin: 0 10px;
}

.contact-social {
  margin-top: 30px;
}

.contact-social > ul {
  display: inline-flex;
}

.contact-content img {
  max-width: 210px;
}

.container-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
}

section {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}

footer p {
  padding: 40px 0;
  text-align: center;
}

footer img {
  width: 44px;
}
.homeHeading {
  font-size: clamp(2.25rem, 1.942rem + 1.315vw, 3.125rem);
  line-height: 110%;
  color: rgb(227, 228, 233);
  margin-bottom: clamp(0.625rem, 0.493rem + 0.563vw, 1rem);
  letter-spacing: 0.02em;
  font-weight: 400;
}

.loader-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #353c466a;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  z-index: 1000;
  align-items: center;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@media (max-width: 600px) {
  .contact-area {
    margin-top: -8rem;
  }
}

.tech {
  font-size: clamp(2.25rem, 1.942rem + 1.315vw, 3.125rem);
  line-height: 110%;
  color: rgb(232, 51, 99);
  margin-bottom: clamp(0.625rem, 0.493rem + 0.563vw, 1rem);
  letter-spacing: 0.02em;
  font-weight: 400;
  font-family: "Fasthand", cursive;
}

@media (max-width: 600px) {
	section {
		color: #fff;
		font-size: 1.2rem;
		line-height: 2rem;
		font-weight: 400;
	}
	.contact-content{
		margin-top: 4rem;
	}
}